<%- include('header.ejs') %>
    <div class="main">
        <div class="header">
            <h2><%= Title %></h2>

            <form action="/" method="post">

                <input type="text" name="item" value="<%= Data.name %>" autocomplete="off" placeholder="Title...">
                <input type="hidden" name="Title" value="<%-Title %>">
                <button type="submit" id="AddBtn">Add</button>

            </form>

        </div>
        <div class="body">
            <div class="bodyData">
                <% Data.forEach(function(result){ %>
                    <% var i=0; %>
                    <form action="/delete" method="post">
                       
                        <input type="text" name="ItemName"  id="dataInput" value="<%-result.name %>">
                        <button type="submit" name="ListId" value="<%-result._id%>" id="DltBtn">Delete</button>
                      
                </form>
              <%  })%>
              
                 
            </div>

        </div>
    </div>
    <%-include('footer.ejs')%>